<section class="row" id="find">
	<form action="/" method="post" id="twitterform">
		<div class="input-group col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2">
			<input type="text" class="form-control input-lg" name="user" placeholder="@twittername" onfocus="this.placeholder = ''" onblur="this.placeholder = '@twittername'">
			<span class="input-group-btn">
				<button class="btn btn-danger btn-lg" type="submit">Go</button>
			</span>
		</div>
	</form>
</section>

<%= erb :_leaderboards %>