<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
  		<title>
  			<% if @title == '' %>
  				Chirp &mdash; What's your Twitter mood?
  			<% else %>
				<%= @title + ' | Chirp' %>
  			<% end %>
  		</title>
  		<!-- <link rel="stylesheet" href="css/normalize.css"> -->
  		<link rel="stylesheet" href="/css/bootstrap.css">
  		<link rel="stylesheet" href="/css/style.css">
  		<!-- <link rel="stylesheet" href="responsive.css"> -->

  		<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  		<script type="text/javascript">
	      window.heap=window.heap||[],heap.load=function(t,e){window.heap.appid=t,window.heap.config=e;var a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=("https:"===document.location.protocol?"https:":"http:")+"//cdn.heapanalytics.com/js/heap.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(t){return function(){heap.push([t].concat(Array.prototype.slice.call(arguments,0)))}},p=["identify","track"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
	      heap.load("3456425439");
	    </script>
	</head>
	<body class="<%= @home_layout ? "home_layout" : "new_layout" %>">
		<div class="container-fluid" id="main-container">
			<header class="header">
				<h1><a href="/">Chirp</a></h1>
				<% if @home_layout %>
				<%= "<h2 class='lead'>What's your Twitter mood?</h2>" %>
				<% end %>
			</header><!-- end header -->
			
			<div id="main-body">
				<%= yield %>
			</div><!-- end main -->
			
			<footer id="footer">
				<div class="text-center">
					<p>&copy; 2014 &mdash; a <a href="https://twitter.com/intent/user?screen_name=nbgoodall" target="_blank">Nick Goodall</a> creation.</p>
				</div>
			</footer><!-- end footer -->
		</div>
		<script src="/js/bootstrap.min.js"></script>
	</body>
</html>
