<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<title>
  			<% if @title == '' %>
  				Chirp &mdash; What's your Twitter mood?
  			<% else %>
				<%= @title + ' | Chirp' %>
  			<% end %>
  		</title>
  		<link rel="stylesheet" href="normalize.css">
  		<link rel="stylesheet" href="style.css">
  		<link rel="stylesheet" href="responsive.css">
  		<script src="http://code.jquery.com/jquery-2.1.1.js"></script>
	</head>
	<body class="<%= @home_layout ? "home_layout" : "new_layout" %>">
		<header>
			<h1><a href="/">Chirp</a></h1>
			<% if @home_layout %>
			<%= "<h2>What's your Twitter mood?</h2>" %>
			<% end %>
		</header><!-- end header -->

		<div id="main">
			<%= yield %>
		</div><!-- end main -->

		<footer>
			<p>&copy; 2014 &mdash; a Nick Goodall creation.</p>
		</footer><!-- end footer -->
	</body>
</html>