<!DOCTYPE html>
<html>
	<head>
  		<meta charset="UTF-8">
  		<title>
  			<% if @title == '' %>
  				Twitter Mood
  			<% else %>
				<%= @title + ' | Twitter Mood' %>
  			<% end %>
  		</title>
	</head>
	<body>
		<header>
			<h1><a href="/">Twitter Mood</a></h1>
			<h2>What's your Twitter mood?</h2>
		</header><!-- end header -->

		<div id="main">
			<%= yield %>
		</div><!-- end main -->

		<footer>
			<p><small>&copy; 2014 &mdash; a Nick Goodall creation.</small></p>
		</footer><!-- end footer -->
	</body>
</html>