/* 
App stylesheet
Nick Goodall
14/9/14
*/

/* General */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #666;
	height: 100%;
}

#main-container {
	min-height: 100%;
	position: relative;
}

a:link, a:visited {
	text-decoration: none;
	color: #AE251D;
}

a:hover {
	text-decoration: underline;
}

/* Main Input */

#main-body {
	text-align: center;
	padding-bottom: 60px;

}

#find {
	margin-top: 2%;
	margin-bottom: 2%;
}

#find input {
	text-align: center;
	font-weight: lighter;
}


#find button {
	background-color: #AE251D;
	border-color: #AE251D;
	text-transform: uppercase;
}


/* User Page */

#score {
	font-size: 7em;
	/*font-weight: bold;*/
	color: #AE251D;
	margin-bottom: 40px;
}

/* Typography */



/* Header */
header {
	text-align: center;
}

header h1 {
	font-family: "Brush Script MT", cursive;
	font-size: 6em;
	color: #AE251D;
	margin: 2.5% auto;
}

header h1 a:visited, header h1 a:hover {
	color: #AE251D;
	text-decoration: none;
}

header h2 {
	font-weight: lighter;
	
}

/* Footer */

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 40px;
}

/* Twitter Share */

a.popup {
	color: white;
	/*color: #55acee;*/
}

button.twitter-share {
	background-color: #55acee;
	border: 0;
}

button.twitter-share:hover {
	background-color: #55acee;
}

/* Profile Photo */

.profile-photo {
	border-radius: 100%;
	margin-right: 20px;
}

/* Leaderboard */

.leaderboards .happiest, .leaderboards .unhappiest {
	display: inline-block;
	margin: 0 20px;
}

/* Leaderboard table styling */

.leaderboards tr {
	margin-top: 10px;
}

.leaderboards tr:hover {
	cursor: pointer;
}

.leaderboards tr:hover .table-user {
	text-decoration: underline;
}

.leaderboards td {
	padding: 5px;
}

.leaderboards .table-photo img {
	border-radius: 100%;
	width: 48px;
	height: 48px;
}

.leaderboards .table-user {
	text-align: left;
	font-size: 1.25em;
	color: #AE251D;
}

.leaderboards .table-score {
	text-align: right;
	color: #1D8FFA;
	font-size: 1.3em;
	font-weight: bold;
}

/* New Layout */

body.new_layout header h1 {
	font-size: 4em;
	margin: 1.5% auto;
}
