/* 
App stylesheet
Nick Goodall
14/9/14
*/

/* General */

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 100%;
	color: #666;
}

a:link, a:visited {
	text-decoration: none;
	color: #AE251D;
}

a:hover {
	text-decoration: underline;
}

/* New Layout CSS */

/* Main Input */

#main {
	width: 60%;
	margin: 0 auto;
	text-align: center;
}

#find form {

}

#find input[type="text"] {
	height: 76px;
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: 3em;
	font-weight: lighter;
	max-width: 80%;
}

#find input[type="text"]:focus {
	outline-color: #AE251D;
}

#find button {
	height: 80px;
	line-height: 80px;
	text-align: center;
	text-transform: uppercase;
	border: none;
	background: #AE251D;
	color: white;
	font-size: 2.5em;
	font-weight: normal;
	padding-left: 10px;
	padding-right: 10px;
	vertical-align:bottom;
}


#find button:hover {
	background: #7B1A14;
}

/* User Page */

#user_score {
	font-size: 1.5em;
}

#score {
	font-size: 5em;
	font-weight: bold;
	color: #AE251D;
	margin: 0;
}

/* Typography */



/* Header */
header {
	text-align: center;
}

header h1 {
	font-family: "Brush Script MT", cursive;
	font-size: 6em;
	color: #AE251D;
	margin: 2.5% auto;
}

header h1 a:visited, header h1 a:hover {
	color: #AE251D;
	text-decoration: none;
}

header h2 {
	font-weight: lighter;
	font-size: 2.5em;
	margin: 2.5% auto 3% auto;
}

/* Footer */

footer {
	text-align: center;
	color: #999;
	position: absolute;
    bottom: 0;
    height: 40px;
    margin-top: 40px;
    width: 100%;
}

body.new_layout {
	header h1 {
		font-size: 4em;
	}
}